repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --select=E9]
        files: \.py$
      - id: ruff-format
        files: \.py$
  - repo: local
    hooks:
      - id: generate-openapi
        name: generate-openapi
        entry: uv run python scripts/generate_openapi.py
        language: system
        pass_filenames: false
        files: \.py$
      - id: generate-frontend-client
        name: generate-frontend-client
        entry: bash -c "cd frontend && npm run gen:api"
        language: system
        pass_filenames: false
        files: \.py$
